.header-container {
    position: fixed;
    top: -1rem;
    left: 0;
    width: 100%;
    border-bottom: 1px solid $light-gray;
    background-color: $white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;

    h1 {
        color: $primary;

        @include breakpoint(mobile) {
            font-size: 1.5rem;
        }
    }

    h2 {
        color: $gray;
        margin: 0 .5rem;
        font-weight: 300;
    }

    &__actions-desktop {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        cursor: pointer;

        @include breakpoint(mobile) {
            display: none;
        }
    }

    &__actions-mobile {
        display: none;

        @include breakpoint(mobile) {
            display: block;
        }
    }
}

.mobile_menu {
    padding: 0 1rem;

    div {
        margin-bottom: 2rem;

        h1 {
            color: $primary;
        }

        &:first-child {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}

.actions-items {
    position: relative;
    display: flex;
    align-items: center;

    p {
        margin: 0 .3rem;

        @include breakpoint(mobile) {
            margin: 0 .1rem;
        }
    }
}

.cart-badge {
    position: absolute;
    top: -10px;
    left: 60px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    font-weight: 700;
    background-color: $secondary;
    color: $white;
}
