.primary-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    background-color: $secondary;
    color: white;
    font-size: large;
    font-family: $primary-font;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    border: none !important;
    border-radius: 1.5rem;

    &:focus {
        outline: none;
    }

    &.button-disabled {
        background-color: $light-gray !important;
    }
}

//Positions
.relative {
    position: relative !important;
}

//Display
.hidden {
    display: none !important;
}

.inline {
    display: inline !important;
}

.block {
    display: block !important;
}

.flex {
    display: flex !important;
}

.alig-center {
    display: flex !important;
    align-items: center !important;
}

.alig-self-center {
    align-self: center !important;
}

.justify-self-center {
    justify-self: center !important;
}

.justify-center {
    display: flex !important;
    justify-content: center !important;
}

.justify-end {
    display: flex !important;
    justify-content: flex-end !important;
}

.total-center {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.d-desktop {
    display: block;
}

.d-mobile {
    display: none;
}

//Spacings
.pt-4 {
    padding: 4rem 0;
}

.px-1 {
    padding: 0 1rem;
}

.px-2 {
    padding: 0 2rem;
}

.px-4 {
    padding: 0 4rem;
}

.mr-1 {
    margin-right: 1rem;
}

.mx-auto {
    margin: auto;
}

.mx-05 {
    margin: 0 .5rem;
}

.mt-0 {
    margin-top: 0;
}

.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mr-05 {
    margin-right: .5rem;
}

//sizing
.w-full {
    width: 100%;
}

//hovers
.hover\:bg-light-gray {
    &:hover {
        background-color: $light-gray;
        transition: all .3s;
    }
}

//Borders
.border-r-gray {
    border-right: 1px solid $light-gray;
}

//Others
.cursor-pointer {
    cursor: pointer;
}

.text-align {
    text-align: right;
}

.float-right {
  float: right
}

.home {
    width: 70%;
    height: 70vh;
    overflow: auto;

    @include breakpoint(mobile) {
        width: 90%;
    }
}

@include breakpoint(mobile) {
    .d-desktop {
        display: none;
    }

    .d-mobile {
        display: block;
    }
}
