.cart {
    display: grid;
    grid-template-columns: 60% 1fr;
    column-gap: 1.5rem;
    margin-bottom: 15rem;

    @include breakpoint(mobile) {
        grid-template-columns: 1fr;
    }

    div {
        &:first-child {
            h1 {
                color: $gray;

                span {
                    color: $primary;
                    font-weight: 300;
                }
            }
        }

        &:last-child {
            h1, h2, h3 {
                color: $primary;
            }

            p {
              margin-top: 5rem;
              a{
                color: $secondary;
                text-align: center;
                display: block;
              }
            }

            button {
              padding: 0 4rem;
            }

            div {
                display: flex;
                justify-content: space-between;
            }
        }
    }
}
