.card {
    width: 15rem;
    padding: 2rem 1rem;
    border-radius: 1rem;
    box-sizing: border-box;

    &:hover {
        box-shadow: $box-shadow-1;
        transition: all .5s;
    }

    @include breakpoint(mobile) {
        width: 100%;
        box-shadow: $box-shadow-1;
    }


    img, h1, div {
        margin-top: 1rem;
        border-radius: 10px;
    }

    h2 {
        font-weight: 700;
    }

    h3 {
        color: $primary;
    }

    p {
        color: & gray;
    }

    &__desription-height {
        height: 8rem;
        overflow: hidden;
        margin-top: 1rem;
    }

    a {
        cursor: pointer;

        div {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    img {
        width: 100%;
        height: 12.5rem;
    }

    h1 {
        color: $primary;
        text-align: right;
        font-size: 2rem;
    }
}

.card, div {
  margin-top: .5rem ;
}
