.products-grid {
    display: grid;
    grid-template-columns: 25% 1fr;
    column-gap: 2rem;
    margin-top: 1rem;
    padding: 0 1rem;

    @include breakpoint(mobile) {
        grid-template-columns: 1fr;
        column-gap: unset;
        margin-top: 0;
        padding: 0;
    }
}

.filters {
    div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        p {
            color: $red;
            padding-right: 1rem;
            cursor: pointer;

            &:hover {
                background-color: unset;
            }
        }
    }

    h3 {
        color: $primary;
    }

    p {
        cursor: pointer;
        padding-left: .3rem;
        color: $gray;
        margin-top: .3rem;
    }
}

.product-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column: 1.5rem;

    @include breakpoint(tablet) {
        grid-template-columns: repeat(1, 1fr);
    }


    @include breakpoint(mobile) {
        grid-template-columns: 1fr;
        grid-row: 1rem;
        grid-column: unset;
    }


    &__mobile-filter {
        padding: 0 1rem;
    }
}

.exit-icon {
    display: flex;
    justify-content: flex-end;
}

.no-products {
  height: 70vh;
  h1{
    font-size: 4rem;
  }
}
